services:

  postgres:
    image: postgres:18-alpine
    ports:
      - 5432:5432
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_USER=postgres
      - PGDATA=/var/lib/postgresql/data/pgdata
    volumes:
      - data-postgres:/var/lib/postgresql/data

  # http://localhost:8092/?pgsql=postgres&username=postgres&db=postgres&ns=public
  adminer:
    image: adminer
    links:
      - postgres
    ports:
      - 8092:8080

volumes:
  data-postgres: